.navbar-links li {
  text-decoration: none;
  display: block;
  align-items: center;
  padding: 0px 32px;
  color: #9692cb;
  font-family: Raleway;
}

.navbar-links li:hover {
  color: #ffffff;
  background-color: #4c4393;
}

.navbar-links li a {
  color: #9692cb;
  font-size: 0.9rem;
}

.navbar-links li a:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  padding-left: 0px;
}

.sidebar-panel {
  background-color: #34495e;
}

.navbar-container {
  flex: 1;
  background-color: #3e348c;
  /* background-image: linear-gradient(#9ec14c, #41b14f); */
  left: 0;
  top: 0;
  right: auto;
  min-height: auto;
  overflow-y: auto;
  white-space: nowrap;
  z-index: 1;
  /* border-right: 1px solid #ddd; */
  /* padding: 0px 30px; */
}

.logo-card {
  border: none !important;
  background-color: #382f82 !important;
}

.align-center {
  align-items: center;
}

.add-new {
  background-color: #41b14f;
  background-image: linear-gradient(#9ec14c, #41b14f);
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);

  display: inline-block;
  border-radius: 11px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: 700;
}

.add-new:hover {
  text-decoration: none;
  background-image: none;
}

.hoverIcon:hover {
  border-left: 2px solid red;
}

.logo-text {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0px 15px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: none;
  font-family: Secular One;
}

.form-control {
  font-weight: bold !important;
  height: 35px !important;
  padding: 6px 15px !important;
  border-radius: 5px !important;
  outline: none !important;
  background: #f6f7f9 !important;
  color: #748194 !important;
  font-size: 14px !important;
}

.page-title {
  font-family: Raleway, Secular One;
  font-size: 2rem;
  margin: 1rem 2rem;
}
